In [3]:
## Variance Inflation Factor

In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt,style
style.use('ggplot')

In [5]:
df=pd.read_csv('house.csv')

In [6]:
# Data Preparation

## Feature Encoding
df_dummy = pd.get_dummies(data=df,columns=['Brick','Neighborhood'],drop_first=True)
df_dummy.head()

,Bathrooms,Offers,Bedrooms,SqFt,Price,Brick_Yes,Neighborhood_North,Neighborhood_West
0,2,2,2,1790,114300,0,0,0
1,2,3,4,2030,114200,0,0,0
2,2,1,3,1740,114800,0,0,0
3,2,3,3,1980,94700,0,0,0
4,3,3,3,2130,119800,0,0,0

In [7]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [8]:
data = df_dummy.drop(columns='Price')

In [9]:
data.head()

,Bathrooms,Offers,Bedrooms,SqFt,Brick_Yes,Neighborhood_North,Neighborhood_West
0,2,2,2,1790,0,0,0
1,2,3,4,2030,0,0,0
2,2,1,3,1740,0,0,0
3,2,3,3,1980,0,0,0
4,3,3,3,2130,0,0,0

In [16]:
pd.Series([variance_inflation_factor(data.values,i) for i in range(0,data.shape[1])],index=data.columns)

#Predict Bathrooms taking other features (offers,bedrooms,sqft,brick_yes,ne_noth,nei_west) to calculate R squared and
# for calculating VIF = 1/1-R-squared, now the bathrooms coming to 35.632909

Bathrooms             35.632902
Offers                10.591656
Bedrooms              31.028044
SqFt                  57.607757
Brick_Yes              1.637724
Neighborhood_North     2.121365
Neighborhood_West      2.436297
dtype: float64

In [17]:
for i in range(0,data.shape[1]):
    print(variance_inflation_factor(data.values,i))

35.632901553298055
10.591655827582377
31.028044452273534
57.60775699450441
1.6377236928141587
2.1213648792322646
2.4362969178112834

In [18]:
data_wo_Sqft = data.drop(columns='SqFt')

In [21]:
pd.Series([variance_inflation_factor(data_wo_Sqft.values,i) for i in range(0,data_wo_Sqft.shape[1])],index=data_wo_Sqft.columns)

#Predict Bathrooms taking other features (offers,bedrooms,sqft,brick_yes,ne_noth,nei_west) to calculate R squared and
# for calculating VIF = 1/1-R-squared, now the bathrooms coming to 21.675548
# R-Squared

Bathrooms             21.675548
Offers                 9.890663
Bedrooms              22.729309
Brick_Yes              1.623109
Neighborhood_North     2.052417
Neighborhood_West      2.431954
dtype: float64

In [22]:
# cut-off either 5 or 10 
# "Offers" is 9.890663 which is within the cutt-off 10
# dropping of feature needs to be done one by one recaculate VIF and within the range
# onlyt do this if the model is overfitted,

train was 86% and test is 85%